html {
    --primary-background: rgb(34,34,34);
    --mild-theme: #363636;
    --leftside-bar: #3b3b3b;
    --leftside-bar-shadow: 5px 5px 10px rgba(0,0,0,0.377);
    --theme-mild-xxl: #0000001f;
    --theme-mild-xl: #0000005e;
    --header: #373737;
    --search2: #313131;
    --search: #313131;
    --text: #f0f0f0;
    --invert-text: #272727;
    --select: #292929;
    --content: #474747;
    --invert: 0;
    --double-invert: 1;
    --closeToContent: #3a3a3a;
    --theme: #3a3a3a;
    --theme-mild-opposite: #d2d2d2;
    --settings: #292929;
    --blue: #90b3e7;
    --green: #94f0b9;
    --red: #e27992;
    --purple: #6f72d4;
    --mildPurple: #8d91f8;
    --orange: #f0b357;
    --reallyBlue: #567dff;
    --lightBlue: #dbdbff;
    --darker: #272727;
    --purpleGradient: linear-gradient(45deg,#99a2f4,#b199f4);
    --orangeGradient: linear-gradient(45deg,#e27992,#f4af99);
    --almostTransparent: rgba(0,0,0,0.281);
    --almostTransparentOpposite: hsla(0,0%,100%,0.103);
    --schedule: #2e2e2e;
    --scheduleBg: #232323;
    --schedule-shadow: 0;
    --info-blue: #83a2ff;
    --form: #252525;
}