* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: space-between;
}

.App {
    width: 100vw !important;
}

.course {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--theme-mild-opposite);
    display: flex;
    gap: 15px;
    padding: 15px 0px;
    position: relative;
    width: 660px;
}
  
.course .frame {
    background-color: var(--green);
    border-radius: 5px;
    height: 38px;
    min-width: 38px;
    overflow: hidden;
    position: relative;
}
  
.course .ellipse {
    border: 2px solid;
    border-color: var(--text);
    border-radius: 12px;
    height: 24px;
    left: 7px;
    position: relative;
    top: 7px;
    width: 24px;
}
  
.course .element {
    color: var(--text);
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.48px;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
}
  
.block .text-wrapper {
    color: var(--text);
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
  
.course-instance {
    border-bottom-style: unset !important;
    border-bottom-width: unset !important;
    border-color: unset !important;
}



.content {
    align-items: flex-start;
    background-color: var(--schedule);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 700px;
}
  
.content .div {
    color: var(--text);
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.72px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}
  
.content .design-component-instance-node {
    background-color: var(--green) !important;
}
  
.content .frame-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
}
  
.content .element-2 {
    color: var(--text);
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
  

.fill {
    align-items: center;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    padding: 0px 15px 10px 0px;
    position: relative;
    width: fit-content;
}
  
.fill .frame-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 55px;
    justify-content: center;
    padding: 0px 15px;
    position: relative;
    width: fit-content;
}
  
.fill .div-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 40px;
    position: relative;
    width: 700px;
}
  
.fill .frame-3 {
    align-items: center;
    display: flex;
    gap: 15px;
    padding: 0px 0px 7px;
    position: relative;
    width: fit-content;
}
  
.fill .element-3 {
    color: var(--text);
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.54px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}
  
.fill .rectangle {
    background-color: var(--purple);
    height: 20px;
    min-width: 20px;
    position: relative;
}
  
.screen {
    align-items: flex-start;
    background-color: var(--theme);
    border: 1px none;
    display: flex;
    justify-content: space-between;
    min-height: 1106px;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
  
.screen .line {
    height: 305px;
    min-width: 1px;
    object-fit: cover;
    position: relative;
}

.menu svg{
    stroke: var(--text) !important;
}

.menu .glass {
    height: 14px;
    min-width: 14px;
    position: relative;
}

.menu {
    align-items: center;
    background-color: var(--dark-based-theme);
    border-radius: 0px 18px 18px 0px;
    box-shadow: 5px 0px 27px 5px #00000061;
    display: flex;
    flex-direction: column;
    
    height: 100vh;;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 15px;
    position: fixed;
    width: fit-content;
  }
  
  .menu .frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    position: relative;
    width: 205px;
  }
  
  .menu .image {
    height: 44.54px;
    min-width: 165px;
    object-fit: cover;
    position: relative;
    
  }
  
  .menu .div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    position: relative;
    width: 165px;
  }
  
  .menu .frame-2 {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: fit-content;
  }
  
  .menu .ellipse {
    background-color: var(--red);
    border-radius: 35px;
    height: 70px;
    min-width: 70px;
    position: relative;
  }
  
  .menu .element {
    color: var(--content);
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 29px;
    left: 16px;
    letter-spacing: -3.36px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 20px;
  }
  
  .menu .text-wrapper {
    color: var(--text);
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    text-align: center;
    width: 165px;
  }
  
  .menu .frame-3 {
    align-items: center;
    background-color: var(--content);
    border-radius: 4px;
    display: flex;
    height: 39px;
    justify-content: space-between;
    overflow: hidden;
    padding: 8px;
    position: relative;
    width: 188px;
  }
  
  .menu .frame-4 {
    align-items: center;
    display: flex;
    gap: 7px;
    justify-content: center;
    position: relative;
    width: fit-content;
  }
  
  .menu .rectangle {
    height: 14px;
    min-width: 14px;
    position: relative;
  }
  
  .menu .element-2 {
    color: var(--text);
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .menu .frame-5 {
    align-items: flex-start;
    display: flex;
    gap: 3px;
    margin-bottom: -0.5px;
    margin-top: -0.5px;
    position: relative;
    width: fit-content;
  }
  
  .menu .div-wrapper {
    align-items: center;
    background-color: var(--theme);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    padding: 4px 6px;
    position: relative;
    width: fit-content;
  }
  
  .menu .text-wrapper-2 {
    color: var(--text);
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.52px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .menu .frame-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    position: relative;
    width: fit-content;
  }
  
  .menu .frame-wrapper {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    padding: 13px 0px;
    position: relative;
    width: 175px;
  }
  
  .menu .img {
    height: 22px;
    min-width: 22px;
    position: relative;
  }
  
  .menu .element-3 {
    color: var(--text);
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.64px;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .menu .frame-7 {
    align-items: flex-start;
    display: flex;
    padding: 0px 12px;
    position: relative;
    width: fit-content;
  }
  
  .menu .frame-8 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 181px;
  }
  
  .menu .element-4 {
    color: var(--text);
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.52px;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .menu .rectangle-2 {
    height: 30px;
    min-width: 56px;
    position: relative;
  }
  

  .mask{
    z-index: -2;
  }